---
import Title from "./atom/Title.astro";
import { Image } from "astro:assets";
import aboutme from "../assets/SobreMi.jpeg";
---

<div class="my-8 mx-auto container-custom">
  <Title customClass="text-center mb-8">¿Quien soy?</Title>
  <div
    class="flex flex-col-reverse md:flex-row items-center justify-between gap-8 max-md:px-4"
  >
    <div class="md:w-1/2">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
      <p class="mt-4">
        Si tienes alguna pregunta o necesitas asistencia, no dudes en
        contactarme. Estoy aquí para ti y tu mascota.
      </p>
    </div>
    <div class="max-md:w-2/3">
      <Image
        src={aboutme}
        alt="Rosario Covian"
        height={620}
        class="rounded-2xl object-cover"
      />
    </div>
  </div>
</div>
