---

---

<header class="bg-white">
  <div class="mx-auto flex h-16 items-center gap-8 container">
    <a
      class="block text-teal-500 petit-formal-script-regular text-3xl md:text-5xl italianno-regular max-md:pl-8"
    >
      M V &nbspZ. &nbspRosario Covian
    </a>
  </div>
</header>
